{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static '/css/homepage.css' %}" >
    <title>Homepage</title>
  </head>
 {% include './navbar.html' %}
	<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
		<img  src="{% static 'assets/bookstore1.jpg' %}" object-fit="cover" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Browse the Latest Books.</h1>
			<p>The Classic City Collection, second only to Amazon, offers a large selection of books for all your reading needs.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'search' %}">Browse Books</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="{% static 'assets/bookstore2.jpg' %}" object-fit="cover" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Create an Account.</h1>
            <p>Don't already have an account with us? Create an account today to get started finding the books you love!</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'register' %} ">Create Account</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="{% static 'assets/bookstore3.png' %}" object-fit="cover" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Check our Top Sellers.</h1>
            <p>In collaboration with the New York Times, we stay up-to-date on the most popular books each week.</p>
            <p><a class="btn btn-lg btn-primary" href="#TopSellers">Browse Top Sellers</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Four columns of text below the carousel -->

	<h1 class="display-3" id="TopSellers">The New York Times Best Sellers</h1>

    <div class="row">
      <div class="col-lg-4">
        <img class="bookPic" src="{% static book0.cover %}" height="200" width="150">
        <h2>{{book0.title}}</h2>
		    <p>{{book0.description}}</p>
        <p>
          <a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static book0.isbn %}">View details &raquo;</a>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="{% static book1.cover %}" height="200" width="150">
        <h2>{{book1.title}}</h2>
        <p>{{book1.description}}</p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static book1.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="{% static book2.cover %}" height="200" width="150">
        <h2>{{book2.title}}</h2>
        <p>{{book2.description}}</p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static book2.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
        <img class="bookPic" src="{% static book3.cover %}" height="200" width="150">
		
        <h2>{{book3.title}}</h2>
        <p>{{book3.description}}</p>
		<p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static book3.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
	
	<div class="row">
      <div class="col-lg-4">
        <img class="bookPic" src="{% static book4.cover %}"height="200" width="220">
        <h2>{{book4.title}}</h2>
        <p>{{book4.description}}</p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static book4.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="{% static book5.cover %}" height="200" width="150">

        <h2>{{book5.title}}</h2>
        <p>{{book5.description}}</p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static book5.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="{% static book6.cover %}" height="200" width="150">
        <h2>{{book6.title}}</h2>
		<p>{{book6.description}}</p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static book6.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
        <img class="bookPic" src="{% static book7.cover %}" height="200" width="150">
		
        <h2>{{book7.title}}</h2>
		<p>{{book7.description}}</p>
		<p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static book7.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

 
  <h1 class="display-3" id="CulinaryTopSellers">Culinary Bestsellers</h1>

    <div class="row">
      <div class="col-lg-4">
        <img class="bookPic" src="{% static culinary0.cover %}" height="200" width="150">
        <h2>{{culinary0.title}}</h2>
        <p>{{culinary0.description}}</p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static culinary0.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="{% static culinary1.cover %}" height="200" width="150">
        <h2>{{culinary1.title}}</h2>
        <p>{{culinary1.description}}</p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static culinary1.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="{% static culinary2.cover %}" height="200" width="150">
        <h2>{{culinary2.title}}</h2>
        <p>{{culinary2.description}}</p> 
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static culinary2.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bookPic" src="{% static culinary3.cover %}" height="200" width="150">
      <h2>{{culinary3.title}}</h2>
      <p>{{culinary3.description}}</p>
      <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static culinary3.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  
  <div class="row">
      <div class="col-lg-4">
        <img class="bookPic" src="{% static culinary4.cover %}" height="200" width="150">
        <h2>{{culinary4.title}}</h2>
        <p>{{culinary4.description}}</p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static culinary4.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="{% static culinary5.cover %}" height="200" width="150">
        <h2>{{culinary5.title}}</h2>
        <p>{{culinary5.description}}</p>
         <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static culinary5.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="{% static culinary6.cover %}" height="200" width="150">
        <h2>{{culinary6.title}}</h2>
        <p>{{culinary6.description}}</p>
         <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static culinary6.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bookPic" src="{% static culinary7.cover %}" height="200" width="150">
      <h2>{{culinary7.title}}</h2>
      <p>{{culinary7.description}}</p>
      <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/details/ {% static culinary7.isbn %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.js"></script>
  </body>
</html>