{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
	<link rel="stylesheet" href="../css/homepage.css" >
    <title>Homepage</title>
  </head>
  <body>


    
	{% include './navbar.html' %}
	<main>

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Account Created</h4>
      <p>A unique account ID has been sent to your email. This can be used as an alternative to email and password login</p>
      <hr>
      <p class="mb-0">We look forward to you buissness!</p>
    </div>


  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
		<img  src="../assets/bookstore1.jpg" object-fit="cover" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Browse the Latest Books.</h1>
			<p>BOOKSTORE NAME, second only to Amazon, offers a large selection of books for all your reading needs.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse Books</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="../assets/bookstore2.jpg" object-fit="cover" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Create an Account.</h1>
            <p>Don't already have an account with us? Create an account today to get started finding the books you love!</p>
            <p><a class="btn btn-lg btn-primary" href="#">Create Account</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="../assets/bookstore3.png" object-fit="cover" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Check our Top Sellers.</h1>
            <p>In collaboration with the New York Times, we stay up-to-date on the most popular books each week.</p>
            <p><a class="btn btn-lg btn-primary" href="#TopSellers">Browse Top Sellers</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Four columns of text below the carousel -->

	<h1 class="display-3" id="TopSellers">The New York Times Best Sellers</h1>

    <div class="row">
      <div class="col-lg-4">
        <img class="bookPic" src="../assets/harrypotter.jpg" height="200" width="150">
        <h2>Harry Potter and the Sorcerer's Stone</h2>
		<p>Read about the exciting adventures of Harry Potter, a boy who learns on his eleventh birthday that he is the orphaned son of two powerful wizards and possesses unique magical powers of his own. He is summoned from his life as an unwanted child to become a student at Hogwarts, an English boarding school for wizards.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="../assets/greatexpectations.jpg" height="200" width="150">

        <h2>Great Expectations</h2>
        <p>Great Expectations is the story of Pip, an orphan boy adopted by a blacksmith's family, who has good luck and great expectations, and then loses both his luck and his expectations. Through this rise and fall, however, Pip learns how to find happiness. He learns the meaning of friendship and the meaning of love and, of course, becomes a better person for it. </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="../assets/prideandprejudice.jpg" height="200" width="150">
		
        <h2>Pride and Prejudice</h2>
        <p>Pride and Prejudice follows the turbulent relationship between Elizabeth Bennet, the daughter of a country gentleman, and Fitzwilliam Darcy, a rich aristocratic landowner. They must overcome the titular sins of pride and prejudice in order to fall in love and marry.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
        <img class="bookPic" src="../assets/gameofthrones.jpg" height="200" width="150">
		
        <h2>A Game of Thrones</h2>
        <p>A Game of Thrones is the first novel in A Song of Ice and Fire, a series of fantasy novels by the American author George R. R. Martin. When the story begins, a decade-long summer is ending, and winter looms as characters battle to claim the "Iron Throne," the seat of the king of the Seven Kingdoms, the regime that rules all but the northern tip of Westeros.</p>
		<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
	
	<div class="row">
      <div class="col-lg-4">
        <img class="bookPic" src="../assets/hungrycaterpillar.jpg" height="200" width="220">
        <h2>The Very Hungry Caterpillar</h2>
		<p>The Very Hungry Caterpillar is a picture book about the life of a young, hungry caterpillar who is in search of food to eat to turn him into a beautiful butterfly.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="../assets/apromisedland.jpg" height="200" width="150">

        <h2>A Promised Land</h2>
        <p>In the stirring, highly anticipated first volume of his presidential memoirs, Barack Obama tells the story of his improbable odyssey from young man searching for his identity to leader of the free world, describing in strikingly personal detail both his political education and the landmark moments of the first term of his historic presidency—a time of dramatic transformation and turmoil.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bookPic" src="../assets/leavesofgrass.jpg" height="200" width="150">
        <h2>Leaves Of Grass</h2>
		<p>Leaves of Grass is a collection of poetry written over Walt Whitman's entire lifetime organized thematically into sections. Whitman revised and added to the book throughout his life, the final edition being published only months before his death in 1891. Whitman was concerned with the journey of the poetry. He desired that the reader would see a self formed through the words and themes of the book.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
        <img class="bookPic" src="../assets/tokillamockingbird.jpg" height="200" width="150">
		
        <h2>To Kill a Mockingbird</h2>
		<p>Atticus Finch, a lawyer in the Depression-era South, defends a black man against an undeserved rape charge, and his children against prejudice.</p>
		<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

 

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>