{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Manage Users</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static '/css/homepage.css' %}" >
		<link rel="stylesheet" href="{% static '/css/adminpage.css' %}" >
	</head>

	<body>
		
		{% include './navbar.html' %}



  		<div class="container buttons">
  			<div class="row gx-5">
  				<div class="col-md pagebutton">
  					<button type="button" class="btn btn-outline-primary-sm" onclick="location.href={% url 'suspenduser' %}"><img src="{% static '/assets/ban.png' %}" height="200" width="200"/></button>
  					<div class="p-3 border">Suspend User</div>
  				</div>
  				<div class="col-md pagebutton">
  					<button type="button" class="btn btn-outline-primary-lg" onclick="location.href={% url 'unsuspend' %}"><img src="{% static '/assets/checkmark.png' %}" height="200" width="210"/></button>
  					<div class="p-3 border">Unsuspend User</div>
  				</div>
  			</div>
  		</div>




	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	    <script src="{% static '/js/bootstrap.js' %}"></script>
	</body>
</html>