{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<title>Enter A New Promotion</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
		<link rel="stylesheet" href="../css/homepage.css" >
		<link rel="stylesheet" href="../css/adminpage.css" >
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/register.css' %}" >
	</head>
	<body>
		{% include './navbar.html' %}


		<div class="text-center mt-5">
			{% if messages %}
			{% for message in messages %}
			<i><h3 style="color:red"{% if message.tags %} class="{{ message.error }}"{% endif %}>{{ message }}</h3></i>
			{% endfor %}
			{% endif %}
			<h1> Enter A New Promotion: </h1>
			
	
		
		
		<div class="form_box">

			<form method='POST' action='.' class="input-form"> {% csrf_token %}
				
				<h1> CREATE PROMO </h1>
				{{ form|crispy }}
				<!--
				<input type='text' name='title' placeholder='your title'>
				-->
				<button type='submit' name="save" class="btn btn-success" value='Save to the Database' onclick ="{% url 'verifyemail' %}">
				Save to the Database
				</button>
				<button type='submit' name="saveandsub" class="btn btn-danger" value='Save and Send to the Users' onclick ="{% url 'verifyemail' %}">
				Save and Send to the Users
				</button>
			</form>
		</div>

	</body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.js"></script>
</html>
{% endblock %}