{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<title>Enter A New Promotion</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
		<link rel="stylesheet" href="../css/homepage.css" >
		<link rel="stylesheet" href="../css/adminpage.css" >
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/register.css' %}" >
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        	<div class="navbar">
            	<a class="navbar-brand" href="{% url 'adminpage' %}">Admin Page</a>
            	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                	<span class="navbar-toggler-icon"></span>
            	</button>

            	<div class="collapse navbar-collapse" id="navbarSupportedContent">
         			<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
	          			<li class="nav-item">
	              			<a class="nav-link active" aria-current="page" href="{% url 'promotions' %}">Promotions</a>
	           			</li>
	           		</ul>
       		 	</div>

            	<div class="collapse navbar-collapse" id="navbarSupportedContent">
         			<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
	          			<li class="nav-item">
	              			<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Bookstore</a>
	           			</li>
	           		</ul>
       		 	</div>

       		 </div>
  		  </nav>


		<div class="text-center mt-5">
			{% if messages %}
			{% for message in messages %}
			<i><h3 style="color:red"{% if message.tags %} class="{{ message.error }}"{% endif %}>{{ message }}</h3></i>
			{% endfor %}
			{% endif %}
			<h1> Enter A New Promotion: </h1>
			
	
		
		
		<div class="form_box">

			<form method='POST' action='.' class="input-form"> {% csrf_token %}
				
				<h1> CREATE PROMO </h1>
				{{ form|crispy }}
				<!--
				<input type='text' name='title' placeholder='your title'>
				-->
				<input type='submit' value='Submit' onclick ="{% url 'verifyemail' %}">
				
			</form>
		</div>

	</body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.js"></script>
</html>
{% endblock %}