{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<title>View Promtions</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
		<link rel="stylesheet" href="../css/homepage.css" >
		<link rel="stylesheet" href="../css/adminpage.css" >
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/register.css' %}" >
	</head>
	<body>
		{% include './navbar.html' %}


		    <div class="text-center mt-5" style="max-width: 80%; margin:0 auto;">
        <h1>View Promotions</h1>
	{% if messages %}
	{% for message in messages %}
	<i><h3 style="color:red"{% if message.tags %} class="{{ message.error }}"{% endif %}>{{ message }}</h3></i>
	{% endfor %}
	{% endif %}
        <div class="container">
            <div class="row">
              <div class="col-sm">
                Promo Code
              </div>
              <div class="col-sm">
                Percent
              </div>
              <div class="col-sm">
                Start Date
              </div>
              <div class="col-sm">
                End Date
              </div>
              <div class="col-sm">
                Promotion Status
              </div>
              <div class="col-sm">
                
              </div>
              <div class="col-sm">
                
              </div>
            </div>
            <hr class="solid">
        </div>
		  {% for promotion in promotion_list %}
		   {% if promotion.isActive %}
          <div class="row p-3 mb-2 bg-light text-dark">
            <div class="col-sm">
                {{ promotion.promocode }}
            </div>
            <div class="col-sm">
				{{ promotion.percent }}
            </div>
            <div class="col-sm">
              {{ promotion.start_date }}
            </div>
            <div class="col-sm">
              {{ promotion.end_date }}
            </div>
            <div class="col-sm">
			  {% if promotion.isActive %}
			  Active
              {% else %}
			  Not Active
			  {% endif %}
			  
            </div>
			  <div class="col-sm">
                
              </div>

            <div class="col-sm">
				{% if not promotion.isActive %}
				<form method="post" name="{{ promotion.id }}" id="{{ promotion.id }}"> {% csrf_token %}
					<button type="submit" name="{{ promotion.id }}" id="{{ promotion.id }}" class="btn btn-success">Send Promotion</button>
					<input type="hidden" name="name" value="{{ promotion.id }}">
				</form>
				{% endif %}
				
			</div>
          </div>
		  {% else %}
		  <form method="post" name="{{ promotion.id }}" id="{{ promotion.id }}"> {% csrf_token %}
		    <div class="row p-3 mb-2 bg-light text-dark">
            <div class="col-sm">
				{{ promotion.promocode }}
				<input type="hidden" name="promocode" value="{{ promotion.promocode }}" class="textinput textInput form-control" required="" id="id_promocode" value="{{ promotion.promocode }}">
            </div>
            <div class="col-sm">
			  {{ promotion.form.percent |as_crispy_field}}
            </div>
            <div class="col-sm">
              {{ promotion.form.start_date |as_crispy_field }}
            </div>
            <div class="col-sm">
              {{ promotion.form.end_date |as_crispy_field }}
            </div>
			
            <div class="col-sm">
			  {% if promotion.isActive %}
			  Active
              {% else %}
			  Not Active
			  {% endif %}
			  
            </div>
			<div class="col-sm">
				 
					<button type="submit" name="{{ promotion.id }}" id="{{ promotion.id }}" class="btn btn-success">Save Promotion</button>
					<input type="hidden" name="name" value="{{ promotion.id }}">
					<input type="hidden" name="save" value="1">
				
              </div>
			</form>
            <div class="col-sm">
				{% if not promotion.isActive %}
				<form method="post" name="{{ promotion.id }}" id="{{ promotion.id }}"> {% csrf_token %}
					<button type="submit" name="{{ promotion.id }}" id="{{ promotion.id }}" class="btn btn-success">Send Promotion</button>
					<input type="hidden" name="name" value="{{ promotion.id }}">
					<input type="hidden" name="save" value="0">
				</form>
				{% endif %}
				
			</div>

          </div>
		  
		  {% endif %}
		  {% endfor %}



        </div>
    </div>
	
		
		


	</body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.js"></script>

</html>
{% endblock %}